@charset "utf-8";

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
a,
img,
form,
label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Microsoft YaHei", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333333;
}

body,
html {
	height: 100%;
}

body {
	color: #333333;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
a{
	text-decoration: none;
}
.login_admincontain{
	width: 100%;
	height: 100%;
	background: url(../images/login_bg.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.over_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
.login_adminbox{
	width: 360px;
	height: 388px;
	padding: 30px;
	background-color: #FFFFFF;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -194px;
	margin-left: -180px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.18);
	-moz-animation: loading 1.5s 0s ease both;
	-webkit-animation: loading 1.5s 0s ease both;
	-ms-animation: loading 1.5s 0s ease both;
	animation: loading 1.5s 0s ease both;
}
@-moz-keyframes loading{
	0% {
		top: 0;
		opacity: 0;
		-moz-opacity: 0;
		filter: alpha(opacity= 0);
	}

	100% {
		top: 50%;
		opacity: 1;
		-moz-opacity: 1;
		filter: alpha(opacity=100);
	}
}

@-webkit-keyframes loading{
	0% {
		top: 0;
		opacity: 0;
		-moz-opacity: 0;
		filter: alpha(opacity= 0);
	}

	100% {
		top: 50%;
		opacity: 1;
		-moz-opacity: 1;
		filter: alpha(opacity=100);
	}
}

@-ms-keyframes loading{
	0% {
		top: 0;
		opacity: 0;
		-moz-opacity: 0;
		filter: alpha(opacity= 0);
	}

	100% {
		top: 50%;
		opacity: 1;
		-moz-opacity: 1;
		filter: alpha(opacity=100);
	}
}

@keyframes loading{
	0% {
		top: 0;
		opacity: 0;
		-moz-opacity: 0;
		filter: alpha(opacity= 0);
	}

	100% {
		top: 50%;
		opacity: 1;
		-moz-opacity: 1;
		filter: alpha(opacity=100);
	}
}
.login_title {
	text-align: center;
}

.login_title h1 {
	width: 80px;
	height: 80px;
	padding: 5px;
	background-color: #FFFFFF;
	border-radius: 50%;
	margin: 0 auto;
}

.login_title h1 img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.login_title h2 img{
	width: 200px;
	height: 80px;
}

.login_area {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 20px;
}

.minput {
	border: 1px solid #DFDFDF;
	display: block;
	margin-bottom: 20px;
	padding: 0;
	position: relative;
	height: 48px;
	border-radius: 5px;
}

.minput input {
	border: none;
	background: transparent;
	display: block;
	padding: 13px 16px 13px 55px;
	width: 100%;
	font-size: 16px;
	color: #333333;
	border-radius: 5px;
}

.minput input::-webkit-input-placeholder {
	color: #999999 !important;
	opacity: 0.7;
}

.minput input::-moz-placeholder {
	color: #999999 !important;
	opacity: 0.7;
}

.minput input::-moz-placeholder {
	color: #999999 !important;
	opacity: 0.7;
}

.minput input::-ms-input-placeholder {
	color: #999999 !important;
	opacity: 0.7;
}

.login_icon {
	position: absolute;
	top: 11px;
	left: 16px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.login_icon.user_icon {
	background-image: url(../images/login_usericon_gary.png);
}

.login_icon.password_icon {
	background-image: url(../images/login_pasicon_gary.png);
}
.btn_div{
	padding-top: 10px;
}
.btn_div .btn_block {
	display: block;
	text-align: center;
	width: 100%;
	padding: 13px 10px;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 5px;
	background-color: #30ad64;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
}
@media screen and (max-width: 480px) {
	.login_admincontain{
		padding-top: 100px;
	}
	.login_adminbox{
		position: static;
		width: auto;
		height: auto;
		margin: 0 20px;
		padding: 20px 25px;
	}
	.login_title h2 img{
		width: 180px;
		height: 72px;
	}
	.login_area {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

/*顶部弹出提示*/
.error_text{
	display: none;
	width:100%;
	text-align: center;
	font-size: 14px;
	color:#ff1717;
	background-color: #BBB;
	padding:10px 0;
	position: fixed;
	top: 5px;
	z-index: 10;
	-webkit-animation: bot 1s forwards linear;
	animation: bot 1s forwards linear;
}
@-webkit-keyframes bot {
	0%{
		top:0;
	}
	100%{
		top:5px;
	}
}
.success_text{
	display: none;
	width:100%;
	text-align: center;
	font-size: 14px;
	color:#fff;
	background-color: #71B452;
	padding:10px 0;
	position: fixed;
	top: 5px;
	z-index: 10;
	-webkit-animation: bot 1s forwards linear;
	animation: bot 1s forwards linear;
}
@-webkit-keyframes bot {
	0%{
		top:0;
	}
	100%{
		top:5px;
	}
}
.warn_text{
	display: none;
	width:100%;
	text-align: center;
	font-size: 14px;
	color:#fff;
	background-color: #EDAF40;
	padding:10px 0;
	position: fixed;
	top: 5px;
	z-index: 10;/*19891016弹出框高度*/
	-webkit-animation: bot 1s forwards linear;
	animation: bot 1s forwards linear;
}

.warn_text a:hover{
	color:#fff;
	background-color: #EDAF40;
}

.warn_text a:link{
	color:#fff;
	background-color: #EDAF40;
}

@-webkit-keyframes bot {
	0%{
		top:0;
	}
	100%{
		top:5px;
	}
}