<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置视图前缀-->
        <property name="prefix" value="/view/"/>
        <!--配置视图解析后缀，目前的视图采用JSP-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--注解驱动-->
    <mvc:annotation-driven/>

    <!--注意：文件上传的配置，必须配置ID，而且ID的值固定为：multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--最大的上传大小，字节 ，如果设置为-1的话，就表示无限制-->
        <property name="maxUploadSize" value="102400"/>
        <!--文件编码-->
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!--静态资源放行-->
    <mvc:resources mapping="/static/**" location="/static/"/>
</beans>